spring:
  application:
    name: noc-sms

server:
  address: 0.0.0.0
  port: 8082

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
