spring:
  application:
    name: noc-gov

  datasource:
    url: jdbc:postgresql://localhost:5433/nocgovdb
    username: nocgovuser
    password: nocgovpassword
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false

server:
  address: 0.0.0.0
  port: 8081

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
